<!DOCTYPE html>
<html>
  <head>
    <title> Manage Peers </title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.7.1/bootstrap-tagsinput.css" rel="stylesheet">
    
    <script src="http://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="http://www.amcharts.com/lib/3/serial.js"></script>
    <script src="http://www.amcharts.com/lib/3/themes/light.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.7.1/bootstrap-tagsinput.js"></script>

    <style>
      #chartdiv {
        width       : 100%;
        height      : 500px;
        font-size   : 11px;
      }
      input[type=checkbox]
      {
        /* Double-sized Checkboxes */
        -ms-transform: scale(1.5); /* IE */
        -moz-transform: scale(1.5); /* FF */
        -webkit-transform: scale(1.5); /* Safari and Chrome */
        -o-transform: scale(1.5); /* Opera */
        padding: 10px;
      }
      .bootstrap-tagsinput {
          width: 100%;
      }
      .label {
          line-height: 2 !important;
      }
    </style>

    
    {% load jsonify %}
    <script type="text/javascript">
      val = {{ data|jsonify }}
      var chartData = [];
      for(var key in val){
          var attrName = key;
          var attrValue = val[key];
          
          console.log(attrValue['package'])
          chartData.push({
              name: attrValue['package'],
              occur: attrValue['occurences']
          });
      }


    var chart = AmCharts.makeChart( "chartdiv", {
      "type": "serial",
      "theme": "light",
      "dataProvider": chartData,
      "valueAxes": [ {
        "gridColor": "#FFFFFF",
        "gridAlpha": 0.2,
        "dashLength": 0
      } ],
      "gridAboveGraphs": true,
      "startDuration": 1,
      "graphs": [ {
        "balloonText": "[[name]]: <b>[[occur]]</b>",
        "fillAlphas": 0.8,
        "lineAlpha": 0.2,
        "type": "column",
        "valueField": "occur"
      } ],
      "chartCursor": {
        "categoryBalloonEnabled": false,
        "cursorAlpha": 0,
        "zoomable": false
      },
      "categoryField": "name",
      "categoryAxis": {
        "gridPosition": "start",
        "gridAlpha": 0,
        "tickPosition": "start",
        "tickLength": 20
      },
      "export": {
        "enabled": true
      }

    } );

    function saveChanges () {
      var checkedVal = []
      var uncheckedVal = []
     $("input:checkbox[name=chkData]:checked").each(function(){
        checkedVal.push($(this).val());
      });
      $("input:checkbox[name=chkData]:not(:checked)").each(function(){
        uncheckedVal.push($(this).val());
      });

     // console.log(checkedVal);
        $.ajax({
          type: "POST",
          url: "/update_config/",
          data: { 'operation' : 'update_config', 'checkedVal': JSON.stringify(checkedVal), 'uncheckedVal': JSON.stringify(uncheckedVal)}
          }).done(function( o ) {
              alert("Done");
        });
      }

    </script> 

  </head>
 <body>
  {% include 'index.html' %}
<div class="container">
  <div class="page-header">
  <h2>Configure Data</h2>
  </div>
  <table border="0" cellspacing="8">
   <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td><label>Filter:</label></td>
    <td>
    <div class="input-group"><input type="text" id="txtPackageName" placeholder="Package" class="form-control"><span class="glyphicon glyphicon-search form-control-feedback"></span></input></div>
   </td>
    <td>&nbsp;</td>
    <td>
    <div class="input-group"><input type="text" id="txtLanguage" placeholder="Language" class="form-control"><span class="glyphicon glyphicon-search form-control-feedback"></span></input></div>
   </td>
    <td>
    <div class="input-group"><input type="text" id="txtSystem" placeholder="Systems" class="form-control"><span class="glyphicon glyphicon-search form-control-feedback"></span></input></div>
    </td>
    <td>&nbsp;</td>
    <td><div class="input-group"><input type="text" id="txtHardware" placeholder="Hardware" class="form-control"><span class="glyphicon glyphicon-search form-control-feedback"></span></input></div></td>
    <td>&nbsp;</td>
    <td><div class="input-group"><input type="text" placeholder="Occurences" id="txtOccurrences" class="form-control"></input><span class="glyphicon glyphicon-search form-control-feedback"></span></div></td>
    <td>&nbsp;</td>
    <!--<td><div class="input-group"><input type="text" id="txtCitations" placeholder="Citations"class="form-control"></input><span class="glyphicon glyphicon-search form-control-feedback"></span></div></td>-->
    <!--<td>&nbsp;</td>-->
    <!--<td><button type="button" id="btnSubmit" class="btn btn-primary">Search</button></td>
   <tr/>-->
 </table>
 <br/>
 <br/>
 <div id="chartdiv"></div>
<div class="table-responsive">
        <table class="table table-striped">
           <thead>
              <tr>
                <th>Select</th>
                <th>Package Name</th>
                <th>Version</th>
                <th>Hardware</th>
                <th>System</th>
                <th>Occurences</th>
              </tr>
           </thead> 
           <tbody id="fbody">
           {% for key,value in data.items %}
            <tr>
               <td>
               <div id= "checkDiv">
                <input type="checkbox" name="chkData"  value = {{ value.package }} 
                {% if value.selected == "true" %} checked {%endif %}></input>
                </div>
               </td>
               <td>
                    {{ value.package }}
               </td>
               <td>
                    {{ value.version }}
               </td>
               <td>
                    {{ value.hardware }}
               </td>
               <td>
                    {{ value.system }}
               </td>
               <td>
                    {{ value.occurences }}
               </td>
                <td>
                    <button type="button" class="btn btn-success buttonTag" id="{{value}}">Tag</button>
               </td>
            </tr>
             {% endfor %}
           </tbody>
       </table>
       <td><button type="button" id="save_button" class="btn btn-primary" onclick="saveChanges()">Save Changes</button>
 </div>
 </div>

 <!--   -->

 <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Tags</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-9">
            <select id = "packages" class="form-control">
            </select>
          </div>
          <div class="col-lg-3">
              <button type="button" class="btn btn-default" id="addTagBox">Add Tag</button>    
          </div>
        </div>
        <hr>
        Selected Tags: <input type="text" id="tagListID" placeholder="Add tags">
        <p id="executionDateError" class="err"></p>
    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id = "updateTag">Proceed</button>
      </div>
    </div>
  </div>
</div>
</body>

<link rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap.tagsinput/0.4.2/bootstrap-tagsinput.css" />
<script src="//cdn.jsdelivr.net/bootstrap.tagsinput/0.4.2/bootstrap-tagsinput.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.tagmanager/3.0.0/tagmanager.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.tagmanager/3.0.0/tagmanager.css" />
<script>  

  $("#addTagBox").click(function(){
    var value = $('#packages option:selected').text()
    console.log(value)
    $('#tagListID').tagsinput('refresh');
    $('#tagListID').tagsinput('add', value);
  });

  $("#updateTag").click(function(){
      $.ajax({
          type: "POST",
          url: "/update_config/",
          data: 
          { 
            'operation': 'getData', 
            'tagList': $('#tagListID').val(),
            'id' : $("#tagListID").attr("name")
          }
          }).done(function( o ) {
        });
    $('#tagListID').tagsinput('removeAll');
    $('#tagListID').tagsinput('refresh');
    $('#myModal').modal('hide');
    });


  $(".buttonTag").click(function(){
      var id = this.id;
      $('#tagListID').attr('name', id);
      
      /*get tag information for a record*/
      $.ajax({
          type: "POST",
          url: "/update_config/",
          data: 
          { 
            'operation': 'getTagData', 
            'id' : id
          },
          success: function(response){
            if (response!=undefined)
            {
              $('#tagListID').tagsinput('removeAll');
              $('#tagListID').tagsinput('refresh');
              $('#tagListID').tagsinput('add', response);
            }
          } 
      });
      /*get tag information for a record*/

      /*get all tags*/
      $.ajax({
          type: "POST",
          url: "/update_config/",
          data: 
          { 
            'operation': 'getTagList', 
          },
          success: function(response){
            if (response!=undefined)
            {
              $('#packages').empty();
              $.each(response, function(index, value) {
                 $('#packages').append($('<option>').text(value).attr('value', index));
              });
              console.log(response)
            }
          } 
      });
      /*get all tags*/

      $('#myModal').modal('show');
  });

   $("#txtPackageName").keyup(function () {
    
      var indexColumn=1;
      //split the current value of searchInput
      var data = this.value.split(" ");
      //create a jquery object of the rows
      var jo = $("#fbody").find("tr");
      if (this.value == "") {
          jo.show();
          return;
      }
      //hide all the rows
      jo.hide();

      //Recusively filter the jquery object to get results.
      jo.filter(function (i, v) {
          //var $t = $(this);
          var $t = $(this).children(":eq("+indexColumn+")");
          for (var d = 0; d < data.length; ++d) {
              if ($t.is(":contains('" + data[d] + "')")) {
                  return true;
              }
          }
          return false;
      })
      //show the rows that match.
      .show();
  }).focus(function () {
      this.value = "";
      $(this).css({
          "color": "black"
      });
      $(this).unbind('focus');
  }).css({
      "color": "#C0C0C0"
  });

$("#txtHardware").keyup(function () {
    
      var indexColumn=3;
      //split the current value of searchInput
      var data = this.value.split(" ");
      //create a jquery object of the rows
      var jo = $("#fbody").find("tr");
      if (this.value == "") {
          jo.show();
          return;
      }
      //hide all the rows
      jo.hide();

      //Recusively filter the jquery object to get results.
      jo.filter(function (i, v) {
          //var $t = $(this);
          var $t = $(this).children(":eq("+indexColumn+")");
          for (var d = 0; d < data.length; ++d) {
              if ($t.is(":contains('" + data[d] + "')")) {
                  return true;
              }
          }
          return false;
      })
      //show the rows that match.
      .show();
  }).focus(function () {
      this.value = "";
      $(this).css({
          "color": "black"
      });
      $(this).unbind('focus');
  }).css({
      "color": "#C0C0C0"
  });


  $("#txtSystem").keyup(function () {
    
      var indexColumn=4;
      //split the current value of searchInput
      var data = this.value.split(" ");
      //create a jquery object of the rows
      var jo = $("#fbody").find("tr");
      if (this.value == "") {
          jo.show();
          return;
      }
      //hide all the rows
      jo.hide();

      //Recusively filter the jquery object to get results.
      jo.filter(function (i, v) {
          //var $t = $(this);
          var $t = $(this).children(":eq("+indexColumn+")");
          for (var d = 0; d < data.length; ++d) {
              if ($t.is(":contains('" + data[d] + "')")) {
                  return true;
              }
          }
          return false;
      })
      //show the rows that match.
      .show();
  }).focus(function () {
      this.value = "";
      $(this).css({
          "color": "black"
      });
      $(this).unbind('focus');
  }).css({
      "color": "#C0C0C0"
  });

  $("#txtOccurrences").keyup(function () {
    
      var indexColumn=5;
      //split the current value of searchInput
      var data = this.value.split(" ");
      //create a jquery object of the rows
      var jo = $("#fbody").find("tr");
      if (this.value == "") {
          jo.show();
          return;
      }
      //hide all the rows
      jo.hide();

      //Recusively filter the jquery object to get results.
      jo.filter(function (i, v) {
          //var $t = $(this);
          var $t = $(this).children(":eq("+indexColumn+")");
          for (var d = 0; d < data.length; ++d) {
              if ($t.is(":contains('" + data[d] + "')")) {
                  return true;
              }
          }
          return false;
      })
      //show the rows that match.
      .show();
  }).focus(function () {
      this.value = "";
      $(this).css({
          "color": "black"
      });
      $(this).unbind('focus');
  }).css({
      "color": "#C0C0C0"
  });
 </script>
</html>
