<!DOCTYPE html>
<html>
  <head>
    <title> Manage Peers </title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
  </head>
 <body>
 {% include 'index.html' %}
  <div class="container">
    <div class="page-header">
      <h2>Manage Peers</h2>
    </div>

     <div class="table-responsive">
        <table class="table table-striped">
           <thead>
            <tr>
                <th>HostName</th>
                <th>IP Address:Port Number</th>
                <th>Language</th>
                <th>Delete</th>
           </tr>
           </thead> 
           <tbody>
            {% for key,value in data.items %}
            <tr>
              <td>
                {{ value.HostName }}
              </td>
              <td>
                {{ value.IPAddress }}
              </td>
               <td>
                {{ value.Language }}
              </td>
              <td>
                  <!-- <button type="button" class="btn btn-primary">Approve</button> -->
                  <button type="button" class="btn btn-danger">Deny</button>
              </td>
             </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
  </div>
 </body>
 </html>