<!DOCTYPE html>
<html>
  <head>
    <title> Summary Tag </title>
    <script src="http://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="http://www.amcharts.com/lib/3/serial.js"></script>
    <script src="http://www.amcharts.com/lib/3/themes/light.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <style>
      .chartdiv {
        width       : 100%;
        height      : 500px;
        font-size   : 11px;
      }
      .col-centered{
            float: none;
            margin: 0 auto;
        }

        ul
        {
            list-style-type: none;
        }
    </style>
	<script type="text/javascript">
		var packDetail;
        function leaveChangeTag() {
			tagName = $('#tags option:selected').text();
		    document.getElementById("message").innerHTML = "Tag - " + tagName;

		    $.ajax({
		         type:"POST",
		         url:'/DBOperation/',
		         data: {
		                'operation': 'getTagData', 
		                'tagName': tagName
		                },
		         success: function(response){
		            if (response!=undefined)
		            {
		            	$('#fbody').remove();
                        console.log(response)

                        if(response['tag_package_list'] != 0)
                        {
                        	$('#pkgTable').append('<tbody id="fbody"></tbody>');
                        	for (pkg in response['tag_package_list'])
			            	{
			            		tmp = response['tag_package_list'][pkg]
			            		$('#fbody').append('<tr><td>'+tmp['package']+'</td><td>'+tmp['version']+'</td><td>'+tmp['hardware']+'</td><td>'+tmp['system']+'</td></tr>')
						    }
                        }
                        else
                        {
                        	$('#fbody').removeData();
                        }
		            
                        document.getElementById("users").innerHTML = response['user'];
                        document.getElementById("tagged").innerHTML = response['tag_package_list'].length;
		            	//Draw system (windows/linux) chart
		            	var chartData = [];
		            	for(var key in response['system']){
				          	var attrValue = response['system'][key];
		            		chartData.push({
				            	  name: key,
				              	  occur: attrValue
				          	});
		            	}
		            	chartDraw("systemChartDiv", chartData)

		            	//draw version for packages chart
						chartData = [];
		            	for(var key in response['version']){
				          	var attrValue = response['version'][key];
		            		chartData.push({
				            	  name: key,
				              	  occur: attrValue
				          	});
		            	}
		            	chartDraw("versionChartDiv", chartData)

		            	//draw hardware chart
						chartData = [];
		            	for(var key in response['hardware']){
				          	var attrValue = response['hardware'][key];
		            		chartData.push({
				            	  name: key,
				              	  occur: attrValue
				          	});
		            	}
		            	chartDraw("hardwareChartDiv", chartData)
		            }  
		         }
		  	});
		}

		function chartDraw(divname, chartData)
		{
			AmCharts.makeChart( divname, {
			  "type": "serial",
			  "theme": "light",
			  "dataProvider": chartData,
			  "valueAxes": [ {
			    "gridColor": "#FFFFFF",
			    "gridAlpha": 0.2,
			    "dashLength": 0
			  } ],
			  "gridAboveGraphs": true,
			  "startDuration": 1,
			  "graphs": [ {
			    "balloonText": "[[name]]: <b>[[occur]]</b>",
			    "fillAlphas": 0.8,
			    "lineAlpha": 0.2,
			    "type": "column",
			    "valueField": "occur"
			  } ],
			  "chartCursor": {
			    "categoryBalloonEnabled": false,
			    "cursorAlpha": 0,
			    "zoomable": false
			  },
			  "categoryField": "name",
			  "categoryAxis": {
			    "gridPosition": "start",
			    "gridAlpha": 0,
			    "tickPosition": "start",
			    "tickLength": 20
			  },
			  "export": {
			    "enabled": true
			  }
			});

		}
	</script>
   </head>
 <body>
 	{% include 'index.html' %}
 	
    <div class="container-fluid" id="container">
		<div class="page-header">
	      <h2>Summary By Project Tag</h2>
	    </div>
	  <div class="col-xs-12 col-sm-12 content">
    		<div class="row row-plan-offcanvas row-offcanvas row-offcanvas-left">
			    <select id = "tags" class="form-control" onchange="leaveChangeTag()">
			    	{% for key,value in data.items %}
				    	<option value={{ value.package }}>{{ value.tag }}</option>
				    {% endfor %}
				</select>
			</div>
		</div>

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header" id="message">Pack</h1>
            </div>
                <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-2 col-md-9">
            </div>
            <div class="col-lg-4 col-md-9">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="row">
                            <div style="font-size:25px;" class="col-xs-7 text-center">
                                <div style="padding-top:7px;">Unique Users</div>
                                <i class="fa fa-spinner"></i>
                            </div>
                            <div class="col-xs-5 text-left">
                                <div style="font-size:35px;" id="users"></div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-9">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="row">
                            <div style="font-size:25px;" class="col-xs-7 text-center">
                                <div style="padding-top:7px;">Packages</div>
                                <i class="fa fa-spinner"></i>
                            </div>
                            <div class="col-xs-5 text-left">
                                <div style="font-size:35px;" id="tagged"></div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- /.DETAIL row -->
        <div class="row">
            <div class="col-lg-8 col-md-offset-2">
                <div class="panel panel-default panel-primary">
                    <div class="panel-heading">
                        <i class="fa fa-envelope fa-fw"></i> Package Details
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                		<div class="table-responsive">
					        <table id="pkgTable" class="table table-striped">
					           <thead>
					              <tr>
					                <th>Package Name</th>
					                <th>Version</th>
					                <th>Hardware</th>
					                <th>System</th>
					              </tr>
					           </thead> 
					       </table>
					 </div>   
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-8 -->
        </div>
        <!-- /.row -->

        <!-- /.row -->
        <div class="row">
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-envelope fa-fw"></i> Operating System
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        	<div class="chartdiv" id="systemChartDiv"></div>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-8 -->
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bell fa-fw"></i> Architecture
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                    		<div class="chartdiv" id="hardwareChartDiv"></div>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
                <!-- /.panel .chat-panel -->
            </div>
            <!-- /.col-lg-4 -->
        </div>
        <!-- /.row -->
 	</div>
 </body>
 </html>